@font-face {
    font-family: 'fixedsys_excelsior_3.01Rg';
    src: url('media/font.woff2') format('woff2'), url('media/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    font-family: 'fixedsys_excelsior_3.01Rg';
    color: lavenderblush;
    --fontsize: 16px;
}
html, body {margin: 0;}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 650px;
    margin: 0 auto;
    background: url(media/bg.gif), #000;
    background-attachment: fixed;
    image-rendering: pixelated;
    background-repeat: repeat;
    background-clip: initial;
}
header {
    flex-shrink: 0;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
}
main.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}
div.content {text-align: center;}
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: inherit;
    z-index: 1000;
    flex-shrink: 0;
    padding: 10px 0;
}
img {
    max-width: 100%;
    image-rendering: pixelated;
}
hr {width: 100%;}
@media screen and (max-width: 700px) {body, img {max-width: 90%;}}
h1 {font-size: 32px; font-weight: 100;}
a, p {
    text-decoration: none;
    font-size: var(--fontsize);
    font-weight: 100;
}
a:link {color: violet;}
a:visited {color: violet;}
a:hover {color: lavenderblush;}
a:active {color: crimson;}
#playButton {color: violet;}
.nav {
    text-align: center;
    font-family: var(--font), sans-serif;
    font-size: var(--fontsize);
}
#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#left, #right {width: auto;}
.author {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.author img {
    width: 1.2em;
    height: 1.2em;
}
.author a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.timestamp {
    margin-left: 0.5em;
}
h2 {
    font-size: 1.5em;
    margin-top: 0.2em;
    font-weight: 100;
}
.text-box {
  border: 1px solid;
  padding: 16px;
}
.text-box-owner {
  border: 1px solid violet;
  padding: 16px;
}
code {
  background: grey;
  text-color: crimson;
  font-size: inherit;
  font-family: 'fixedsys_excelsior_3.01Rg';
}
.nav .link.active {color: crimson;}