@font-face {
  font-family: 'fixedsys_excelsior_3.01Rg';
  src: url('media/font.woff2') format('woff2'), url('media/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'fixedsys_excelsior_3.01Rg', sans-serif;
  --font: 'fixedsys_excelsior_3.01Rg', sans-serif;
  font-size: 1rem;
  color: lavenderblush;
}

html, body {
  margin: 0 auto;
  background: #000;
  background: url(media/bg.gif) repeat center center, #000;
  background-attachment: fixed;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 650px;
}

header {
  flex-shrink: 0;
  width: 100%;
  min-height: 50px;
  z-index: 1000;
}

main.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}
div.content {text-align: center;}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: inherit;
  z-index: 1000;
  flex-shrink: 0;
  padding: 10px 0;
}

img {max-width: 100%;}
@media screen and (max-width: 700px) {
  body, img {
    max-width: 90%;
  }
}

h1 {font-size: 2rem;}
h2 {
  font-size: 1.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

code {
  background: #423c42;
  color: #BEBCBE, #888388;
  font-size: inherit;
  font-family: var(--font);
}
a, p {text-decoration: none;}

a:link {color: violet;}
a:visited {color: violet;}
a:hover {color: lavenderblush;}
a:active {color: crimson;}
#playButton {color: violet;}

.nav {
  text-align: center;
  font-family: var(--font);
}
.nav .link.active {color: crimson;}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#left, #right {width: auto;}

.author {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.author img {
  width: 1.2rem;
  height: 1.2rem;
}
.author a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.timestamp {
  margin-left: 0.5rem;
}

.text-box {
  border: 1px solid;
  padding: 16px;
}

.text-box-owner {
  border: 1px solid violet;
  padding: 16px;
}
