:root {
}

::-moz-selection {
  color: black;
  background: lavenderblush;
}

::selection {
  color: black;
  background: lavenderblush;
}

a {
  border-radius: 4px;
  transition: outline 0.3s ease-in-out;
}

a:focus {
  outline: 2px solid lavenderblush;
  outline-offset: 2px;
  border-radius: 32px;
}

a:hover {
  outline: none;
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vH5mqace1KqS1.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vEZmqace1Kg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  background-color: #020202;
  color: lavender;
  font-family: "Urbanist", sans-serif;
  text-shadow: 0 0 10px lavender;
  scroll-behavior: smooth;
  margin-top: 0;
}

.topnav {
  background-color: rgba(6, 6, 6, 0.5);
  overflow: hidden;
  border-radius: 32px;
  border: lavender 1px solid;
  color: lavender;
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 0.7em;
  padding: 2px;
  right: 2em;
  left: 2em;
  z-index: 5;
  height: 4em;
}

#icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100px;
  margin: 0.7rem;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.7rem;
  text-decoration: none;
  font-size: 1rem;
  flex: 1;
  border-radius: 32px;
  margin: 5px;
}

.topnav a:hover,
.topnav a.active {
  background-color: lavender;
  color: black;
  border-radius: 32px;
}

.home,
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pfp {
  background: url("img/pfp.webp"), lavender;
  height: 10rem;
  width: 10rem;
  background-size: contain;
  border-radius: 100px;
  box-shadow: 0 0 30px lavender;
}

#line {
  font-size: 2rem;
  font-family: "Urbanist", sans-serif;
  text-shadow: 0 0 5px lavender;
  color: lavender;
}

iconify-icon {
  color: lavender;
  text-shadow: 0 0 5px lavender;
  text-decoration: none;
  font-size: 4rem;
}

#socialIcons a {
  text-decoration: none;
  color: lavender;
}

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
