:root {
  --mainbg: #1a1a1a;
  --cardbg: rgba(1, 1, 1, 0.9);
}

html,
body {
  background: var(--mainbg);
}

* {
  color: white;
  text-shadow: 0 0 20px white;
  font-size: 16px;
  font-family: 'Urbanist', sans-serif;
}

#banner {
  background-color: var(--cardbg);
  height: 16rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  line-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0 0 20px var(--cardbg);
}

#space {
  height: 16rem;
}

.pfp {
  background: url("img/pfp.webp"), grey;
  height: 8rem;
  width: 8rem;
  background-size: contain;
  border-radius: 100px;
  box-shadow: 0 0 50px aliceblue;
  margin-top: -3rem;
  position: fixed
}

#pronoun,
#d1,
#location {
  margin-top: 11.5rem;
  text-shadow: 0 0 20px white;
}

#tag {
  margin-top: 8rem;
  position: fixed;
  margin-left: 0rem;
  margin-right: 0rem;
  text-align: center;
  font-size: 100%
}

#pronoun {
  font-family: 'Urbanist', sans-serif;
  margin-left: 0rem;
  margin-right: 0rem;
  position: fixed;
  font-size: 90%
}


#aabout {
  background-color: var(--cardbg);
  height: auto;
  width: 80%;
  color: white;
  text-align: center;
  border-radius: 32px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px var(--cardbg);
}

#t-me,
#t-s {
  font-size: 26px;
  font-family: 'Urbanist', sans-serif;
}

#t1-me,
#t1-s {
  font-size: 12px;
  font-family: 'Urbanist', sans-serif;
}

#me {
  font-family: 'Urbanist', sans-serif;
  font-size: 95%
}

#ssocial {
  background-color: var(--cardbg);
  height: auto;
  width: 80%;
  color: white;
  text-align: center;
  border-radius: 32px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px var(--cardbg);
}

.grid-social {
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

[class*=fa-] {
  text-shadow: 0 0 2px white;
  text-align: center;
  padding: 0.8rem;
  border: 0px solid white;
  border-radius: 16px;
  text-decoration: none;
}